<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write a new chat</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>Write a new chat!</h2>
    <form method="post" action="/chats">
        <input type="text" placeholder="who are you?" name="from"><br><br>
        <textarea name="msg" rows="10" cols="20">Write your message here.</textarea><br><br>
        <input type="text" name="to" placeholder="receiver?"><br><br>
        <button>Create Chat</button>
    </form>
</body>

</html>